$margin-top: 130px;
$margin-left: 250px;

h3 {
  margin: 0;
}

.p-button-success {
  background: #009c2d !important;
  border: 1px solid #009c2d !important;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #009c2d;
}
.p-inputnumber-buttons-stacked .p-inputnumber-button-group .p-button.p-inputnumber-button {
  background: #33586b;
  border: none;
}

.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
  background: #009c2d;
}

.p-inputtext {
  background: transparent;
  color: #fff;
}

.p-float-label label {
  color: #ffffffed;
}

.p-listbox {
  background: transparent;
}

.p-listbox .p-listbox-list .p-listbox-item.p-highlight {
  color: #ffffff;
  background: #33586b;
}
.p-inputgroup-addon {
  color: #ffffff;
  background: #33586b;
}

.p-listbox:not(.p-disabled) .p-listbox-item:not(.p-highlight):not(.p-disabled):hover {
  color: #ffffff;
  background: #33586b;
}

.p-listbox .p-listbox-list .p-listbox-item {
  color: #ffffff;
}

.add-new-section label {
  color: #ffffff;
}

.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
  box-shadow: 0px 0px 3px 2px #ffffff78;
}

.p-confirm-popup {
  background: #ffffff00;
  color: #ffffff;
  backdrop-filter: blur(20px);
}

.p-dialog-header,
.p-dialog-content,
.p-dialog-footer {
  background: #ffffff00 !important;
  color: #ffffff !important;
  backdrop-filter: blur(20px);
}

.p-dialog {
  box-shadow: 0px 0px 6px 2px #ffffff78;
}

.button-other {
  background: #33586b !important;
  border: none;
}
.button-other:focus,
.p-button-success {
  box-shadow: none;
}

.p-button.p-button-success:enabled:focus {
  box-shadow: none;
}

.p-dropdown {
  background: #ffffff00;
}

.p-dropdown-panel {
  background: #ffffff00;
  color: #ffffff;
  box-shadow: 0px 0px 6px 2px #ffffff78;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: #ffffff;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #ffffff;
  background: #33586b;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  color: #ffffff;
  background: #33586b;
}

.p-tag.p-tag-warning {
  background-color: #33586b;
  color: #ffffff;
}

.save-button {
  display: flex;
  justify-content: flex-end;
}
