// Page Layouts
$margin-top: 110px;
$margin-left: 250px;

// Colors
$color-default: #33586b !important;
$color-default-hover: #204350 !important;
$color-white: #fff !important;

// Backgrounds
$background-transparent: transparent !important;
$background-blur: blur(20px);
$background-image: url("../assets/images/app-bg.jpg") no-repeat;
$background-position: 0 -125px;
$background-size: cover;

// Box-shadow
$box-shadow: 0px 0px 6px 2px #ffffff78;
$box-shadow-inset: 0px 0px 6px 2px #ffffff78 inset;

// Border-radius
$border-radius-sm: 10px;
$border-radius-lg: 20px;
