.p-dropdown {
  background: $background-transparent;
  width: 14rem;
}

.p-dropdown-panel {
  background: $background-transparent;
  color: $color-white;
  box-shadow: $box-shadow;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: $color-white;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: $color-white;
  background: $color-default;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  color: $color-white;
  background: $color-default;
}

.p-dropdown:focus {
  border: 1px solid $color-default;
  box-shadow: none !important;
}
.p-dropdown:hover {
  border: 1px solid $color-default;
}
