.p-dialog {
  box-shadow: $box-shadow;
}

.p-dialog-header,
.p-dialog-content,
.p-dialog-footer {
  background: $background-transparent;
  color: $color-white;
  backdrop-filter: $background-blur;
}

.p-dialog .p-dialog-content {
  padding: 2em 1.5rem 2rem 1.5rem;
}
